@model List<TCM.Services.Model.BannerModel>
@{
    var middleBanner = Model.Where(x => x.BannerTypeId == 2).FirstOrDefault();
}
<div class="area_video">
    @if (middleBanner.BannerVideo)
    {
        <video controls autoplay width="@string.Concat(middleBanner.BannerTypeWidth.ToString(), "px")" height="@string.Concat(middleBanner.BannerTypeHeight.ToString(), "px")">
            <source width="@string.Concat(middleBanner.BannerTypeWidth.ToString(), "px")" height="@string.Concat(middleBanner.BannerTypeHeight.ToString(), "px")" src="@middleBanner.BannerUrl" type="video/mp4">
            <object>
                <embed width="@string.Concat(middleBanner.BannerTypeWidth.ToString(), "px")" height="@string.Concat(middleBanner.BannerTypeHeight.ToString(), "px")" src="@middleBanner.BannerUrl" type="application/x-shockwave-flash"
                       allowfullscreen="false" allowscriptaccess="always">
            </object>
            Formato não suportado
        </video>
    }
    else
    {
        <img width="@middleBanner.BannerTypeWidth" height="@middleBanner.BannerTypeHeight" src="@middleBanner.BannerUrl" alt="">
    }
</div>
