@model TCM.Services.Model.UserModel

@{
    ViewData["Title"] = "ChefMelo - Configuration";

    var emailPattern = @"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$";
    var canadaPhonePattern = @"^\+1 \(\d{3}\) \d{3}-\d{4}$";
    var usaPhonePattern = @"^\+1 \(\d{3}\) \d{3}-\d{4}$";
    var brazilPhonePattern = @"^\+55 \(\d{2}\) \d{4,5}-\d{4}$";
}
@section Styles {
}

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
    <script src="~/StaticFiles/js/search.js"></script>
    <script src="~/StaticFiles/js/changeUser.js"></script>
}

<!-- BEGIN page-header -->
<h1 class="page-header">Users <small>configuration user...</small></h1>
<!-- END page-header -->
<div class="row">
    <div class="col-xl-10">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Settings</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <form id="formUser"
                      name="formUser"
                      data-parsley-validate="true"
                      class="needs-validation"
                      method="post"
                      novalidate>
                    <div class="row mb-10px">
                        <label class="form-label col-form-label col-md-3">Full name*</label>
                        <div class="col-md-9">
                            <input class="form-control" value="@Model.FullName" type="text" id="fullname" name="fullname" placeholder="Enter your full name" required />
                        </div>
                    </div>
                    <div class="row mb-10px">
                        <label class="form-label col-form-label col-md-3">E-mail*</label>
                        <div class="col-md-9">
                            <input disabled class="form-control" value="@Model.Email" pattern="@emailPattern" type="text" id="email" name="email" placeholder="Enter your e-mail address" required />
                        </div>
                    </div>
                    <div class="row mb-10px">
                        <label class="form-label col-form-label col-md-3">Username*</label>
                        <div class="col-md-9">
                            <input disabled class="form-control" value="@Model.UserName" type="text" id="username" name="username" placeholder="Create a username" required />
                        </div>
                    </div>
                    <div class="row mb-10px">
                        <label class="form-label col-form-label col-md-3">Mobile*</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" value="@Model.MobilePhone" id="mobile" name="mobile" placeholder="Enter a valid mobile number" required />
                        </div>
                    </div>
                    <div class="row mb-10px">
                        <label class="form-label col-form-label col-md-3">PIN*</label>
                        <div class="col-md-9">
                            <input class="form-control"
                                   type="password"
                                   id="password"
                                   name="password"
                                   placeholder="PIN must contain 5 to 12 numbers"
                                   minlength="5"
                                   pattern="[0-9]{5,12}"
                                   maxlength="12"
                                   required />
                        </div>
                    </div>
                    <div class="row mb-10px">
                        <label class="form-label col-form-label col-md-3">Repeat PIN*</label>
                        <div class="col-md-9">
                            <input class="form-control"
                                   type="password"
                                   id="confirmPassword"
                                   name="confirmPassword"
                                   minlength="5"
                                   pattern="[0-9]{5,12}"
                                   maxlength="12"
                                   placeholder="Repeat your PIN" required />
                        </div>
                    </div>
                    <div class="row mb-10px">
                        <button type="submit" class="btn btn-theme d-block w-100 h-45px btn-lg">SAVE CHANGES</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
